.navbar {
  background: black;
  width: 100%;
  height: 70px; /* increase height */
  display: flex;
  align-items: center; /* vertically center */
  padding: 0 30px;
}

.nav-list {
  display: flex;
  list-style: none;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.nav-list a {
  color: white;
  text-decoration: none;
  padding: 12px 18px;
  border-radius: 6px;
  transition: 0.3s;
}


.nav-list a:hover {
  background: red;
  color: white; 
}